.contact{
padding-top: 110px;
display: flex;
justify-content: center;
gap: 60px;


    & lado-esquerdo{
        height: 548px;
        display: flex;
    }
}

.equipe{
    display: flex;
    justify-content: center;
    padding-top: 233px;
    gap: 70px;
    text-align: center;
    
}